@import "fonts.css";

body {
    color: #eeeeee;
    background-color: #121212;
}

#h1-text {
    font-size: 2.6em;
    font-family: "CircularSpotifyBold", Circular, sans-serif;
    margin: 50px auto 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#info{
    font-size: medium;
    font-family: "CircularSpotifyLight", Circular, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px auto 1px;
    text-align: left;
    max-width: 575px;
}

#my-profile{
    font-size: medium;
    font-family: "CircularSpotifyBold", Circular, sans-serif;
    display: flex;
    align-items: center;
}

#info-desc p{
    margin-bottom: 0;
}

#circle-pfp{
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#icons {
    font-size: 1.4em;
    font-family: "CircularSpotifyLight", Circular, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 10px;
}

.tooltip-text {
    visibility: hidden;
    background-color: #555;
    color: #eeeeee;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.hover-enlarge:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

#drop-area{
    border: 5px dashed #eeeeee;
    border-radius: 15px;
    margin: 50px auto;
    padding: 20px;
    font-family: "CircularSpotifyMedium", Circular, sans-serif;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    width: 650px;
    transition: 0.15s ease-in-out;
    cursor: pointer;
}

#drop-area:hover{
    border: 5px dashed #65d46e;
}

#privacy-banner-container {
    position: fixed;
    bottom: -200px;
}

#privacy-banner {
    padding: 10px;
    background-color: #eeeeee;
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes slide-up {
    100% { bottom: 0; }
}

.fade-out {
    animation-name: fade-out;
}

.slide-up {
    animation-name: slide-up;
}

#privacy-banner-text{
    display: flex;
    flex-direction: column;
    font-family: "CircularSpotifyBook", Circular, sans-serif;
    color: #000000;
    align-items: flex-start;
}

#privacy-banner-text h3{
    font-family: "CircularSpotifyBold", Circular, sans-serif;
    padding-left:20px;
}

#privacy-banner-text a{
    color: #65d46e;
    text-decoration: none;
}

#privacy-banner-text a:hover{
    text-decoration: underline;
}

#main-privacy-banner-text {
    display: flex;
    justify-content: space-around;
    padding: 0 20px 19px 20px;
}

.privacy-text {
    flex-basis: 48%;
    text-align: justify;
}

.privacy-text:first-of-type{
    margin-right: 6%;
}

#close-privacy, #accept-necessary {
    font-family: "CircularSpotifyBold", Circular, sans-serif;
    display: inline-block;
    font-size: 16px;
    color: white;
    background-color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-left: 20px;
    margin-bottom: 20px;
}

#close-privacy:hover, #accept-necessary:hover {
    background-color: #868686;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
