@import "fonts.css";

body {
    overflow: hidden;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: stretch;
    background-color: rgb(0,0,0);
}

.main-container {
    width: 100vw;
    display: flex;
    padding: 10px;
    align-items: stretch;
}

.right-container {
    flex: 3;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 20px;
    background-color: rgb(18, 18, 18);
    border-radius: 10px;
    margin-left: 10px;
}

.left-container {
    flex-basis: 25vw;
    max-width: 25vw;
    display: flex;
    flex-direction: column;
}

.scroll-wrapper {
    overflow-y: auto;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: rgb(18, 18, 18);
    margin-bottom: 10px;
}

.sub-section1 {
    height: 30%;
}

.sub-section2 {
    height: 70%;
    margin-bottom: 0;
}

.content-section1 {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
}

.title-for-subsections {
    font-family: 'CircularSpotifyBold', Circular, sans-serif;
    font-size: 1.6em;
    color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    background-color: rgb(18, 18, 18);
    padding: 10px;
    margin-left: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info svg{
    width: 25px;
    height: 25px;
}

.user-info p {
    font-family: 'CircularSpotifyBold', Circular, sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-left: 10px;
}

.button-wrapper{
    font-family: 'CircularSpotifyNormal', Circular, sans-serif;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-left: 10px;
    overflow-x: auto;
    white-space: nowrap;
}

.button {
    display: flex;
    background-color: rgb(35, 35, 35);
    border: none;
    border-radius: 50px;
    padding: 10px 15px;
    margin-right: 10px;
    cursor: pointer;
}

.reset:not(.button){
    margin: 0;
    padding: 0;
}

.content-section2 {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    font-family: 'CircularSpotifyNormal', Circular, sans-serif;
    color: rgb(255, 255, 255);
}

.artistButton, .albumButton, .clicked {
    display: flex;
    align-items: center;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: left;
    background-color: rgb(18, 18, 18);
    color: rgb(255, 255, 255);
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    justify-content: flex-start;
}

.buttonInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-content: center;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.artistButton:hover, .albumButton:hover {
    background-color: rgb(26, 26, 26);
    border-radius: 5px;
}

.clicked {
    background-color: rgb(35, 35, 35);
    border-radius: 5px;
}

.clicked:hover {
    background-color: rgb(43, 43, 43);
}

.artistImage, .albumImage {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

.mainName {
    font-family: 'CircularSpotifyBold', Circular, sans-serif;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
}

.minutesListened {
    font-family: 'CircularSpotifyLight', Circular, sans-serif;
    font-size: 0.8em;
    color: rgb(255, 255, 255);
    margin-top: 10px;
}

.spinner-container {
    padding: 10px 15px;
    display: none;
    font-size: 20px;
    color: #fff;
    font-family: 'CircularSpotifyMedium', Circular, sans-serif;
    margin-left: 10px;
}

.dots span {
    opacity: 0;
    animation: dot 1s infinite;
}

.dots span:nth-child(1) {
    animation-delay: .2s;
}

.dots span:nth-child(2) {
    animation-delay: .4s;
}

.dots span:nth-child(3) {
    animation-delay: .6s;
}

@keyframes dot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.headerSection {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.headerSection img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin-right: 30px;
}

.headerSection p {
    font-family: 'CircularSpotifyLight', Circular, sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.headerSection h1 {
    font-family: 'CircularSpotifyBold', Circular, sans-serif;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-bottom: 0;
}

.artistInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.artistDescription {
    display: flex;
    flex-direction: column;
}

.artistDescription a {
    font-family: 'CircularSpotifyLight', Circular, sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.artistDescription a:hover {
    text-decoration: underline;
}

.artistLink a:visited {
    color: rgb(255, 255, 255);
}