<!DOCTYPE html>
<html lang="en">
<head>
    <title>Spotify Data Viewer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <h1 id="h1-text">Spotify Data Viewer</h1>
    <div id="info">
        <div id="info-desc">
            <p>An open source alternative to many Spotify data viewers like Stats.fm, Stats for Spotify</p>
        </div>
        <div id="my-profile">
            <img id="circle-pfp" src="{{ url_for('static', filename='assets/patelheet30pfp.webp') }}" alt="Heet Patel's Logo" width="25" height="25">
            <p>Heet Patel (patelheet30)</p>
        </div>
    </div>
    <div id="icons">
        <div class="tooltip-container">
            <img src="{{ url_for('static', filename='assets/info.svg') }}" alt="Info Logo" width="40" height="40" class="hover-enlarge">
            <span class="tooltip-text">Info</span>
        </div>
        <div class="tooltip-container">
            <a href="https://open.spotify.com/user/heetkpatel?si=381f10c23e4f4616" target="_blank">
                <img src="{{ url_for('static', filename='assets/spotify.svg') }}" alt="Spotify Logo" width="37" height="37" class="hover-enlarge">
            </a>
            <span class="tooltip-text">Spotify</span>
        </div>
    </div>
    <div id="drop-area">
        <img src="{{ url_for('static', filename='assets/upload.svg') }}" alt="Upload SVG" width="40" height="40">
        <p class="drop-area-text">Drop your file or click to upload</p>
        <input type="file" id="file-input" style="display: none;" accept=".json" multiple>
    </div>

    <div id="privacy-banner-container">
        <div id="privacy-banner">
            <div>
                <div id="privacy-banner-text">
                    <h3>Privacy Policy</h3>
                    <div id="main-privacy-banner-text">
                        <p class="privacy-text">
                            This website uses cookies to ensure you get the best experience on the website.
                            None of your data is stored anywhere. By using this website, you agree to the
                            website's use of cookies and the privacy policy in place. You can read more
                            about the privacy policy by clicking the link located next to this text.
                        </p>
                        <p class="privacy-text">
                            View the website's <a href="{{ url_for('privacy') }}" target="_blank">Privacy</a> page here for more information.
                            No data is shared with any third parties.
                        </p>
                    </div>
                    <div id="buttons">
                        <button id="close-privacy">Accept Privacy Policy</button>
                        <button id="accept-necessary">Only Necessary Cookies</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        window.onload = () => {

            const privacyBannerAcknowledged = document.cookie.split(';').some((item) => item.trim().startsWith('privacy-banner-accepted='));
            const privacyBanner = document.getElementById('privacy-banner-container');
            const dismissButton = document.getElementById('close-privacy');
            const necessaryButton = document.getElementById('accept-necessary');

            if (!privacyBannerAcknowledged) {
                privacyBanner.style.animationDuration = '1.5s';
                privacyBanner.classList.add('slide-up');
                privacyBanner.style.animationFillMode = 'forwards';
            } else {
                privacyBanner.style.display = 'none';
            }

            const closeBanner = () => {
                const date = new Date();
                date.setDate(date.getDate() + 7);
                document.cookie = `privacy-banner-accepted=true; expires=${date.toUTCString()};path=/`;
                let fadeEffect = setInterval(() => {
                    if (!privacyBanner.style.opacity) {
                        privacyBanner.style.opacity = 1;
                    }
                    if (privacyBanner.style.opacity > 0) {
                        privacyBanner.style.opacity -= 0.1;
                    } else {
                        clearInterval(fadeEffect);
                        privacyBanner.style.display = 'none';
                    }
                }, 30);
            };

            dismissButton.onclick = closeBanner;
            necessaryButton.onclick = closeBanner;
        };
    </script>
    <script src="{{ url_for('static', filename='js/upload.js') }}"></script>
</body>
</html>
