<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spotify Data Viewer | Privacy Policy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/privacy.css') }}">
</head>
<body>
    <header>
        <h1>Privacy Policy</h1>
    </header>
    <div id="main-class">
        <main>
            <p>Last Updated: 13th September 2023</p>
            <section>
                <h2>Information Collection</h2>
                <p>
                    Your privacy is important to us. This website doesn't collect or store information,
                    or use third-party services that collect information. It also doesn't track you or
                    use advertising or analytics services.
            </section>

            <section>
                <h2>How we use your information</h2>
                <p>
                    The website uses your information to generate a thorough webpage to view your Spotify use.
                    All data provided is sent to the server, processed, and then sent back to you. Any data that is not provided
                    will not be shown on the webpage and default to None/0.
                </p>
            </section>

            <section>
                <h2>Cookies and other technologies</h2>
                <p>
                    The website uses cookies to merely track if you did provide the data. It does so
                    to ensure that the website can function properly. It allows you to reload the page
                    without having to re-enter your data. It also ensures that you don't have to re-enter
                    your acknowledgement of the privacy policy.
                </p>
            </section>

            <section>
                <h2>Contact us</h2>
                <p>
                    If you have any questions about the privacy practices, please contact me at
                    discord: <span id="highlight">patelheet30</span> or go to the <a href="https://github.com/patelheet30/SpotiStats/tree/master" target="_blank">Github</a> repository and create an issue.
                </p>
            </section>
        </main>
    </div>
</body>
</html>